:root {
    --border-color: #cacaca;
    --bg-color: #ffffff;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

select,
input {
    width: 100%;
    border-radius: 30px;
    background-color: var(--bg-color);
    padding: 2px 6px;
    border: 1px solid #999;
    font-size: 110%;
    width: 170px;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 67px);
    display: flex;
}

.side-panel {
    overflow: auto;
    width: 300px;
    height: fit-content;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.side-panel .text {
    align-self: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.drag-dnode {
    font-weight: 500;
    line-height: 50px;
    border-bottom: 1px solid var(--border-color);
    padding-left: 20px;
    cursor: move;
    user-select: none;
}


.spinner {
    font-size: 28px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.spinner.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.spinner .spinner-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
    -ms-transform-origin: center -0.2222em;
    transform-origin: center -0.2222em;
    animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
    -webkit-animation-delay: 0.083s;
    animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
    -webkit-animation-delay: 0.166s;
    animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
    -webkit-animation-delay: 0.249s;
    animation-delay: 0.249s;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
    -webkit-animation-delay: 0.332s;
    animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
    -webkit-animation-delay: 0.415s;
    animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
    -webkit-animation-delay: 0.498s;
    animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
    -webkit-animation-delay: 0.581s;
    animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
    -webkit-animation-delay: 0.664s;
    animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
    -webkit-animation-delay: 0.747s;
    animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
    -webkit-animation-delay: 0.83s;
    animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
    -webkit-animation-delay: 0.913s;
    animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
    0% {
        background-color: #69717d;
    }

    100% {
        background-color: transparent;
    }
}

.btn {
    margin-right: 20px;
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.btn:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.btn:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.btn:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.btn:focus {
    outline: 1px transparent;
}

.btn:before {
    display: none;
}

.btn:-webkit-details-marker {
    display: none;
}

.loading-svg {
    position: relative;
    z-index: 10000;
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

.loading-circle {
    position: relative;
    z-index: 10000;
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}


.node {
    background-color: #ffffff !important;
    border: 1px solid #d7dce1 !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) !important;
}

.node * {
    font-family: 'Montserrat', sans-serif;
}

.node .title {
    font-weight: 400 !important;
    color: #000 !important;
    border-bottom: 1px solid #d7dce1 !important;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif !important;
}

.node hr {
    background-color: #d7dce1 !important;
}

.node .controls {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

#display-modal {
    display: none;
    min-width: 300px;
    max-width: 500px;
    height: 300px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow: hidden;
    overflow-y: auto; */
    z-index: 100;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#display-modal #display-modal-content {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    z-index: 200;
}

#display-modal #display-modal-close {
    position: fixed;
    display: flex;
    top: -25px;
    right: -25px;
    width: 30px;
    height: 30px;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 300;
    /* right: 10px; */
}

.check-input {
    width: fit-content !important;
}

.node .control input,
.node .input-control input {
    width: 140px;
}

.node .col>.output {
    width: 100%;
    box-sizing: border-box;
    height: min-content !important;
    position: relative;
    z-index: 1000 !important;
}

.node .output .socket {
    background-color: #ddd;
    /* height: 15px;
    width: 15px;
    margin-right: -7.5px; */
}

.node .output .socket:hover {
    border-width: 1px;
    border-color: #000;
}

.node .input .socket {
    background-color: #ddd;
}

.node .input .socket:hover {
    border-width: 1px;
    border-color: #000;
}

.node .output-title {
    color: #000 !important;
    font-family: 'Montserrat', sans-serif !important;
}

.node .input-title {
    color: #000 !important;
    font-family: 'Montserrat', sans-serif !important;
}

@media only screen and (max-width: 768px) {
    .side-panel {
        width: 50px;
    }

}